*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea
/app\mint-plugin-repo-5.2.2/**
app/mint-plugin-repo-5.2.2/com/splunk/mint-android-instrumentation-common/5.2.2/mint-android-instrumentation-common-5.2.2.jar
*.jar